
.botones{
    
    margin: 0 auto;
    button{
            display: inline-block;
            border-radius: 20%;
            background-color: #f4511e;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 75%;
            padding: 1%;
            width: 10%;
            height: auto;
            cursor: pointer;
            margin: 1%;
    }
    .activateBtn{
        transition: 1s;
        transition-timing-function: ease-in-out;
        background: gold;
        color: black;
    }

}
