$estilos:(
    //colorHeader:rgb(39,204,6),
    //colorHeader: rgb(54, 201, 198),
    colorHeader: rgb(235,240,239),

    colorBody: rgb(255, 255, 255),
    //colorBody: rgb(244, 241, 187),
    //colorBody: rgb(54, 201, 198), /*-   color celeste  -*/
    // marronSuave rgb(216, 168, 11, 0.39)
    // ---  color verdeOliva(84, 235, 92, 0.877) --- colorVerdeSuave
    // otro verde de body    rgb(87, 209, 93)

    colorFooter: rgb(15, 15, 15),

    colorCatalogo: #42855B, 

    centro: center,
    fuenteBasic: 20px
);

$border-black: 4px solid black;
